@import 'common';

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 13.5px;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #333;
  background: radial-gradient(circle at 33%, #2f323b, #1d1d25);
  background: radial-gradient(circle at 33%, #302f3d, #1f1f26);
}

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;;
}


h1, h2, h3, h4, h5, h6 {
  font-family:  'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.03em;
}


#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.color {
  color: $primary;
}

#sidebar {
  display: grid;
  @include wh100;
  background: #18181899;
  grid-template-rows: 1fr;

  .nav {
    display: grid;
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  .icon-container {
    display: grid;
    // change height via padding
    padding: 1rem 1.2rem; 
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
 
  .icon {
    width: 25px;
    fill: #4d4d4e;

    &.active {
      fill: $primary;
    }
  }
}

.right {

}



.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include wh100;

  .right {
    background: #18181811;
    display: grid;
    align-content: center;
    justify-content: center;

    .caution-container {
      display: grid;

      .caution {
        fill: orange;
        margin: auto;
        width: 80px;
      }

      p {
        text-align: center;
        color: #fff;

        &:nth-child(3) {
          margin-top: 0.2rem !important;
        }
      }
    }
  }
}


#home {
  > div:first-child {
    padding-top: 27.5%;
    padding-left: 6.5rem;
  }
  letter-spacing: 0.13em;

  h1 {
    font-size: 3.5rem;
  }

  p {
    margin-top: 1.5rem;
  }

  a {
    color: #aaa;
    transition: 300ms;

    &:hover {
      color: #ddd;
    }
  }
}



a, p {
  color: #7d7d7d;
}

