@import 'common';

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 13.5px;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #333;
  background: radial-gradient(circle at 33%, #2f323b, #1d1d25);
  background: radial-gradient(circle at 33%, #302f3d, #1f1f26);
}

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;;
}


h1, h2, h3, h4, h5, h6 {
  font-family:  'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.03em;
}

.color {
  color: $primary;
}

$sidebar-width: 60px;

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  // sidebar, content
  grid-template-columns: $sidebar-width 1fr;
}

#sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  @include wh100;
  background: #18181899;
  padding-bottom: 1rem;

  .nav, .social {
    align-self: center;
    .icon-container {
      display: grid;
      width: $sidebar-width;
      justify-content: center;
      &:hover {
        cursor: pointer;
        .icon {
          fill: $primary;
        }
      }
    }
  }

  .nav .icon-container {
    padding: 1rem 0;
    .icon {
      width: 2rem;
    }
  }

  .social .icon-container {
    padding: 0.75rem 0;
    .icon {
      width: 1rem;
    }
  }
  
  .icon {
    fill: #4d4d4e;

    &.active {
      fill: $primary;
    }
  }
}



.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include wh100;

  .right {
    background: #18181811;
    display: grid;
    align-content: center;
    justify-content: center;

    .caution-container {
      display: grid;

      .caution {
        fill: orange;
        margin: auto;
        width: 80px;
      }

      p {
        text-align: center;

        &:nth-child(3) {
          margin-top: 0.2rem !important;
        }
      }
    }
  }
}


#home {
  > div:first-child {
    padding-top: 27.5%;
    padding-left: 6.5rem;
  }
  letter-spacing: 0.13em;

  h1 {
    font-size: 3.5rem;
  }

  p {
    margin-top: 1.5rem;
  }

  a {
    color: $primary;
    transition: 300ms;

  }
}



a, p {
  color: #7d7d7d;
}

