* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 13.5px;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #333;
  background: radial-gradient(circle at 33%, #2f323b, #1d1d25);
  background: radial-gradient(circle at 33%, #302f3d, #1f1f26);
}

h1, h2, h3, h4, h5, h6, p, a, span {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60px 1fr;
}

@mixin wh100 {
  width:100%;
  height: 100%;
}


#sidebar {
  display: grid;
  @include wh100;
  background: #18181899;
  grid-template-rows: 1fr;

  .nav {
    display: grid;
    width: 100%;
    align-self: center;
    justify-content: center;
  }

  .icon-container {
    display: grid;
    // change height via padding
    padding: 1rem 1.2rem; 
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }
 
  .icon {
    width: 25px;
    fill: #4d4d4e;

    &.active {
      fill: #fd2d52;
    }
  }
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include wh100;

  .left {
    padding: 5rem;
  }

  .right {
    background: #18181811;
  }
}

a, p {
  color: #8d8d8d;
}

h1 {
  font-weight: 700;
  font-family:  'Helvetica Neue', sans-serif;
  font-size: 4rem;
  color: #fff;
  letter-spacing: 0.03em;
}


#homeIcon {
  stroke-dasharray:  300 , 0, 3000;
}

#homeIcon { animation: homeIcon .7s; }

@keyframes homeIcon { 10% {stroke-dasharray:  300, 500, 3000} 100% { stroke-dasharray:3300, 500, 3000;} }